<p class="title">Mapa y así</p>
<div class="container-fluid">
<div class="sidebar col-md-2">
  <input type="field" placeholder="New Id" ng-model="mesa"/>
  <button class="btn btn-primary" type="button" ng-click="addButton()">Hi!</button>
</div>
<div class="thumbnail plano col-md-10" data-drop="true" data-jqyoui-options ng-model="list2" jqyoui-droppable="{onDrop:'drop(this)'}">
  <div class="block" data-drag="true" id="{{mesa.id}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:false}" ng-repeat="mesa in mesas">{{mesa.id}}</div>
</div>
</div>
